* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-size: 16px;
  word-break: keep-all;
}

body, input, button, textarea, select, legend {
  font-family: 'Pretendard';
}

a {
  text-decoration: none;
}

p, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

dd {
  margin-left: 0;
}
